h3{
    font-size: 40px;
    color: blue;
    letter-spacing: 8px;
    text-shadow:15px 7px 5px blueviolet ;
    text-align: center;
}
p{
    font-size: 25px;
    font-family: cursive;
    text-indent: 15px;
    line-height: 30px;
}
h2{
    font-size: 40px;
    letter-spacing: 10px;
    color: red;
    font-family: cursive;
    text-align: center;

}